@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #11141b;
    --foreground: #f1f5f9;
    --primary: #fafd01;
    --primary-foreground: #f1f5f9;
    --secondary: #1e40af;
    --secondary-foreground: #f1f5f9;
    --header: #171d30;
    --header-lighter: #2c3b62;
    --card: #1d263c;
    --card-foreground: #f1f5f9;
    --popover: #1d263c;
    --popover-foreground: #f1f5f9;
    --accent: #171d30;
    --accent-foreground: #f1f5f9;
    --input: #11141b;
    --border: #94a3b8;
    --destructive: theme(colors.red.500);
    --destructive-foreground: #f1f5f9;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
