@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "RuneScape UF";
    src: url("/RuneScape-UF.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  :root {
    --background: #11141b;
    --foreground: #f1f5f9;
    --primary: #fafd01;
    --header: #171d30;
    --header-lighter: #2c3b62;
    --card: #1d263c;
    --card-foreground: #f1f5f9;
    --border: #94a3b8;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border font-runescape;
  }
  body {
    @apply bg-background text-foreground;
  }
}
